# compiled output
dist/
*.egg-info

# python ignorables
*.pyc
__pycache__/
app/__pycache__/*.cpython-37.pyc
app/__pycache__/*.cpython-36.pyc
*.cpython-36.pyc
*.cpython-37.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# images
*.png
*.jpeg

# misc
venv/
*.DS_Store
.DS_Store
.vscode/
.vscode
.vscode/settings.json
