# compiled output
dist/
*.egg-info

# python ignorables
*.pyc
__pycache__/

# images
*.png
*.jpeg

# misc
venv/
.DS_Store
.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json