/*
#584B53 Dark Liver
#9D5C63 Rose Dust
#FFF8E8 Cosmic Latte
#E84F47 Carmien Pink
#E4BB97 Pale Gold
*/

html,
body {
  height: 100%;
  margin: auto;
  font-family: Helvetica, sans-serif;
  background-color: #FFF8E8;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #FFF8E8; 
  overflow-x: hidden; 
  padding-top: 10vh; 
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  line-height: 1.5em;
  font-size: 25px;
  color: #584B53;
  display: block;
  transition: 0.3s;
  letter-spacing: 2px;
}

.sidenav a:hover {
  color: #E4BB97;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.bg-clickfilter {
  background-color: #9D5C63;
}

.profile-header {
  background-color: #FFF8E8;
  color: #E4BB97;
  width: inherit;
}

.photos-wrapper {
  background-color: #FFF8E8;
  padding: 1em;
  min-height: 100%;
}

.photo {  
  background-color: #584B53;
  color: #FFF8E8;
  word-wrap: break-word;
  margin: 1em;
  padding: 0;
  padding-left: 0;
}

.p-bot {
  margin-bottom: 0;
}

.photo:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  bottom: 0.33vh;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.add-photo {
  color: #584B53;
  margin: 1em;
  word-wrap: break-word;
  cursor: pointer;
  border: 1px solid #584B53;
  text-align: center;
}

.add-photo:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  bottom: 0.33vh;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.center-me {
  padding-left: 0;
  padding-right: 0;
}