<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Click Filters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" 
    integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" 
    crossorigin="anonymous">
</head>
<body>
    <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="closeDrawer">
                <i class="fas fa-bars"></i>
            </a>
            <a>Profile Name</a>
            <a href="/profile">Albums</a>
            <a href="/photomode">Photomode</a>
            <a href="/videomode">Videomode</a>
            </div>
    <nav class="navbar navbar-dark navbar-expand-lg bg-clickfilter">
            <a href="#" class="navbar-brand" id="openDrawer">
                <i class="fas fa-bars" style="font-size:36px;"></i>
            </a>
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" href="#">ClickFilters<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Template</a>
                <a class="nav-item nav-link" href="#">probably</a>
            </div>
            <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#" id="login" data-toggle="modal" data-target="#loginModal">Log In</a>
                    <a class="nav-item nav-link" href="#" id="signup" data-toggle="modal" data-target="#signupModal">Sign Up</a>
                </div>
    </nav>
    </div>

    <div class="bgone">
        <div class="container-fluid">
            <div class="row text-center caption_home">
                <div class="col-12">
                    <h1>
                        <span class="bg_home">ClickFilters.</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="paragraph">
        <div class="row text-center">
            <div class="col">
                <h3>Pellentesque ac rhoncus lacus, eget. - I need to change this font</h3>
                <p>Donec et purus id massa faucibus mollis id tristique dui. 
                    Vivamus elementum venenatis accumsan. Nunc at sodales sem. Phasellus nibh ante, suscipit in hendrerit nec, ultrices ac velit. 
                    Integer auctor consectetur feugiat. Nulla auctor massa malesuada purus luctus, at venenatis libero ornare. Donec turpis diam, 
                    pulvinar nec nibh id, lobortis scelerisque massa. Mauris in ante vitae nulla varius ultricies. Integer at pharetra nisl. 
                    Maecenas enim lectus, elementum eleifend luctus a, rhoncus laoreet diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
                    Etiam in odio quis odio gravida dignissim. Quisque commodo sem a feugiat fermentum. Donec egestas gravida nibh, non fringilla augue fringilla eget. 
                    Nullam vitae dolor interdum lacus euismod commodo. Morbi vehicula mollis nunc, tristique tempus mi dapibus non.</p>
            </div>
        </div>
    </div>

    <div class="catselfie_a">
        <div class="container-fluid">
            <div class="row text-center caption_a">
                <div class="col-12">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="filterad_a">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <h4>Lorem ipsum</h4>
                    <p class="lead">Ahhhhh some words go here lol!!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="catselfie_b">
        <div class="container-fluid">
            <div class="row text-center caption_b">
                <div class="col-12">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="filterad_b">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <h4>Lorem ipsum</h4>
                    <p class="lead">Ahhhhh some words go here lol!!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="catselfie_c">
        <div class="container-fluid">
            <div class="row text-center caption_c">
                <div class="col-12">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="catselfie_d">
        <div class="container-fluid">
            <div class="row text-center caption_d">
                <div class="col-12">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="filterad">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <h4>Lorem ipsum</h4>
                    <p class="lead">Ahhhhh some words go here lol!!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="catselfie_a_full">
        <div class="container-fluid">
            <div class="row text-center caption_a_full">
                <div class="col-12">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="login-form" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username-l" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid username.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="password-l"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-]).{8,20}"
                                required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please check your password input and try again.
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" id="loginbtn">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h5>Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="signup-form" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username-s" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid username.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <span class="cf-tooltip" 
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-trigger="focus"
                            data-html="true"
                            title="<h6>Strong Password Rules</h6>
                            <ul class=list-unstyled>
                                <li>Password must be at least 8-20 characters in length.</li>
                                <li>a minimum of 1 lower case letter [a-z] and</li>
                                <li>a minimum of 1 upper case letter [A-Z] and</li>
                                <li>a minimum of 1 numeric character [0-9] and</li>
                                <li>a minimum of 1 special character: #?!@$%^&*-</li>
                            </ul>">
                                <input type="password" 
                                class="form-control" 
                                id="password-s"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-]).{8,20}"
                                required>
                                <div class="progress" id="password-strength">
                                    <div class="progress-bar password-strength" id="pw-strength-feedback"
                                    role="progressbar" style="width: 100%" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100">Password Strength</div>
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please follow the Strong Password Rules.
                                </div>
                            </span>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" id="signupbtn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script src="{{url_for('static', filename='js/home.js')}}"></script>
</body>
</html>