<!--Doctype HTML-->

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instagram.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instagram.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <title> Filter Flask App!</title>
    
</head>
    
    <body>
     <header>
        <nav>
        <div class="row">

                  <h1 id="main-title">ClickFilter</h1>
                     
            
          </div>
        </nav> 
    </header>
         <div class="row page">
            <div class="col span-1-of-2 box">
             <h2 class="upload-img text-file-upload"> Upload Image</h2>
               
                 <img id="myimage" height="400" width="500"onmousedown="mDown()" onmouseup="mUp()">
                
                <input type="file" name="pic" accept="image/*" onchange="showPicture(event)" class="upload-pic">
              <form class="form-filter" action="">
              <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="contour"> Contour
              <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="emboss"> Emboss
              <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="edge"> Edge
			  <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="vintage"> Vintage
		      <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="movie_moment"> Movie Moment
              <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="noir"> Noir
              <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="juicy"> Juicy
              <br>
              <input type="radio" onclick="onSubmit(event)" name="filterStyle" value="slumber"> Slumber
            </form>
              
        </div>
        </div>
            <script src="{{url_for('static', filename='js/main.js')}}"></script>

 </body>    
</html>
