<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" 
    integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" 
    crossorigin="anonymous">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" id="closeDrawer">
            <i class="fas fa-bars"></i>
        </a>
        <h3 class="nav-name">{{username}}</h3>
        <a href="/profile">Albums</a>
        <a href="/photomode">Photomode</a>
        <a href="/videomode">Videomode</a>
        </div>
    <nav class="navbar navbar-dark navbar-expand-lg bg-clickfilter">
        <a href="#" class="navbar-brand" id="openDrawer">
            <i class="fas fa-bars" style="font-size:36px;"></i>
        </a>
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="#">ClickFilters<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center profile-header">
                <h1 class="display-3">{{username}}</h1>
            </div>
        </div>
    </div>

    <div class="albumwrapper">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">My Albums</h1>
            </div>
        </div>

        <div class="row no-gutters justify-content-center">
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Dog</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Cat</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Apple</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>
            <div class="col-3 single-album text-center shadow-sm rounded">
                <img src="{{ url_for('static', filename='img/pug.jpg') }}" class="img-fluid">
                <h3>Album Title</h3>
            </div>      
            <div class="col-3 add-album text-center shadow-sm rounded justify-content-center align-self-center">
                <div class="center-me" id="addNewAlbum" data-toggle="modal" data-target="#albumModal">
                    <h4>Add Album</h4>
                    <i class="fa fa-plus" style="font-size:36px;"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="albumModal" tabindex="-1" role="dialog" aria-labelledby="albumModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="albumModalLabel">This gets replaced in *.js</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Fill the body with some way of adding a new album.</h1>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Photo</button>
            </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/profile.js')}}"></script>
</body>
</html>