    <!DOCTYPE html>
    <html lang="en">
    <head>
      <title>ClickFilter App!</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link async href="https://fonts.googleapis.com/css?family=Bad%20Script" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
      crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
      crossorigin="anonymous"></script>
      <script src="https://appstatic.jeeliz.com/faceFilter/jeelizFaceFilter.js"></script>
      <script src="https://appstatic.jeeliz.com/faceFilter/Canvas2DDisplay.js"></script>
      <script type="x-shader/x-vertex" id="vertexshader">
        varying vec2 vUv;
        void main() {
            vUv = uv;
            gl_Position =   projectionMatrix * 
                            modelViewMatrix * 
                            vec4(position,4.0);
        }
    </script>
    <script type="x-shader/x-fragment" id="invert">
        uniform sampler2D u_texture;
        uniform float time;
        varying vec2 vUv; // position?
    
        float wave(float x, float amount) {
        return (sin(x * amount) + 1.0) * 0.5;
        }
    
        float tilt(vec2 p, float angle) {
        vec2 direction = vec2(cos(45.00), sin(50.0));
        return cos(dot(p, direction));
        }
        
        void main() {
        vec2 pos = (vUv - 0.1) * 1.4;
        
        vec4 color = texture2D(u_texture, pos);
        
        pos += tilt(pos, time / 1.0);
        
        float rand = sin(time * 3.0);
            
        gl_FragColor.r = wave(color.r + rand, 5.0);
        gl_FragColor.g = wave(color.g + rand, 5.0);
        gl_FragColor.b = wave(color.b + rand, 5.0);
        gl_FragColor.a = 1.0;
        
        }
    </script>
    <script type="x-shader/x-fragment" id="blackhole">
      uniform sampler2D u_texture;
      uniform float time;
      varying vec2 vUv; // position?
  
      float wave(float x, float amount) {
      return (cos(x * amount) + 1.0) * 0.5;
      }
  
      float tilt(vec2 p, float angle) {
      vec2 direction = vec2(cos(45.00), sin(50.0));
      return cos(dot(p, direction));
      }
      
      void main() {
      vec2 pos = (vUv - 0.1) * 1.4;
      pos.x = pos.x + sin(pos.x*10.0+time*5.0)*0.03;
      pos.y = pos.y + sin(pos.y*20.0+time*5.0)*0.03;
      
      vec4 color = texture2D(u_texture, pos);
      
      pos += tilt(pos, time / 1.0);
      
      float rand = sin(time);
          
      gl_FragColor.r = color.r;
      gl_FragColor.g = color.g;
      gl_FragColor.b = color.b;
      gl_FragColor.a = 1.0;
      
      }
  </script>
  <script type="x-shader/x-fragment" id="colors">
    uniform sampler2D u_texture;
    uniform float time;
    varying vec2 vUv; // position?

    float wave(float x, float amount) {
    return (sin(x * amount) + 1.0) * 0.5;
    }

    float tilt(vec2 p, float angle) {
    vec2 direction = vec2(cos(30.00), sin(2.0));
    return cos(dot(p, direction));
    }
    
    void main() {
    vec2 pos = (vUv - 0.1) * 1.4;
    vec4 color = texture2D(u_texture, pos);
    
    pos += tilt(pos, time / 1.0);
    
    float rand = sin(time * 3.0);

    gl_FragColor.r = wave(color.r + rand, 10.0);
    gl_FragColor.g = wave(color.g + rand, 20.0);
    gl_FragColor.b = wave(color.b + rand, 40.0);
    gl_FragColor.a = 1.0;
    
    }
  </script>
    <script src="{{url_for('static', filename='js/three.min.js')}}"></script>
    </head>
          <!-- nav bar -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" id="main-title" href="#">ClickFilter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/videomode">VideoMode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photomode">PhotoMode</a>
      </li>    
    </ul>
  </div>  
</nav>
<br>
        <!--nav bar -->
    <body>


   
             <!------------------------------------------------------Webcam Section--------------------------->
       <img src="{{ url_for('static', filename='thinking.ico') }}" id="thinkfilter" width="0" height="0">
       <img src="{{ url_for('static', filename='sg.ico') }}" id="shades" width="0" height="0">
       <img src="{{ url_for('static', filename='lear.png') }}" id="lear" width="0" height="0">
       <img src="{{ url_for('static', filename='rear.png') }}" id="rear" width="0" height="0">
       <img src="{{ url_for('static', filename='scd.png') }}" id="nose" width="0" height="0">
       <img src="{{ url_for('static', filename='tongue.png') }}" id="tongue" width="0" height="0">
       <img src="{{ url_for('static', filename='rose.png') }}" id="rose" width="0" height="0">
       <img src="{{ url_for('static', filename='nff.png') }}" id="text" width="0" height="0">

      <div id="webcam-nav" class="webcam-section js--wp-3">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="webcam-name">Smile Big!</h2>
          </div>
        </div>
          <div class="row">
              <div class="col text-center">
                  <button type="button" class="btn btn-primary" id="camFiltOne">BLACKHOLE</button>
                  <button type="button" class="btn btn-primary" id="camFiltTwo">INVERT</button>
                  <button type="button" class="btn btn-primary" id="camFiltThree">COLORS</button>
                  <button type="button" class="btn btn-primary" id="camFiltSnap">THINK</button>
                  <button type="button" class="btn btn-primary" id="camFiltDog">DOGGY</button>
                  <button type="button" class="btn btn-primary" id="camFiltCrown">CROWN</button>
                  <button type="button" class="btn btn-primary" id="camFiltShades">SHADES</button>
              </div>
          </div>
          <div id="container-fluid">
            <div class="row">
              <div class="col-12 justify-content-center" id="newcam">
                <video id="webcam"></video>
                <canvas id="canvas" class="camvas"></canvas>
                <canvas id="je" class="camvas"></canvas>
              </div>
            </div>
          </div>
        </div>
 

     <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">



    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
      </li>
    </ul>

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-instagram"> </i>
        </a>
    </ul>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Clickfilters LLC</a>
    </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
      <script src="{{url_for('static', filename='js/photomode.js')}}"></script>
      <script src="{{url_for('static', filename='js/webcam.js')}}"></script>
      <script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
    </body>
    </html>